<% delete foodData._locals %>

<div class="container">
  <div class="row">
    
    <% var curCol=0; %>
    <% for (var currServ in foodData) { %>   
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header"><h4 id="<%= currServ %>"><%= currServ %></h4> </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              
              <% for (i=0; i<foodData[currServ].length; i++){ %>
                <p><%= foodData[currServ][i] %></p>

                <% if (i<foodData[currServ].length-1){ %>
                  <hr>
                <% } %>
              <% } %>
            </blockquote>
          </div>
        </div>
        <div class="row hidden-md-up"><br></div>
        
      </div>
      <% curCol++ %>
      <% if (curCol==3) { %>
      
  </div>
        <div class="row hidden-md-down"><br></div>
  <div class="row">
        <% curCol=0; %>
      <% } %>
    <% } %>
    
  </div>
</div>

<script type='text/javascript'>$("#SidRich").text("Sid")</script>