<div class="row">
  <div class="small-12 small-centered columns text-center">
    <h1 class="centered">Rice University Food Tracker</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <div class="small-12 small-centered columns">
      <h1 class="centered">South</h1>
    </div>
    <div class="small-12 small-centered columns">
      <ul>
        <li>1</li>
        <li>2</li>
      </ul>
    </div>
  </div>
</div>