<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">South</div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <ul>
              <li><%= foodData.South[0] %></li>
              <li>Option 2</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">West</div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <ul>
              <li>Option 1</li>
              <li>Option 2</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Seibel</div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <ul>
              <li>Option 1</li>
              <li>Option 2</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Baker</div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <ul>
              <li>Option 1</li>
              <li>Option 2</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">North</div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <ul>
              <li>Option 1</li>
              <li>Option 2</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Sid</div>
        <div class="card-block">
          <blockquote class="card-blockquote">
            <ul>
              <li>Option 1</li>
              <li>Option 2</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

</div>